<div class="ui comments">
<% if(plant.comments && plant.comments.length > 0) { %>
	<% plant.comments.forEach(function(c){ %>
	<div class="comment">
    	<a class="avatar">
      		<img src="/img/plant-pot.png">
   		</a>
    	<div class="content">
			<b><%= c.authorName %></b>
			<div class="metadata">
				<div class="date"><%= moment(c.createdAt).calendar() %></div>
				<% if (currentUser && currentUser.id === c.userId) { %>
	       		<a href="/comments/<%= c.id %>" class="delete-comment">
	        		<button class="ui basic mini button circular icon">
	  					<i class="icon delete"></i>
					</button>
				</a>
			<% } %>
      		</div>
			<div class="text">
        		<%= c.content %>
      		</div>
    	</div>
 	 </div>		
	<% }); %>
<% } else { %>
	<p>No posts yet.</p>
<% }; %>
<% if(currentUser){ %>
	<form method="post" action="/comments" class="ui reply form">
    	<div class="field">
			<textarea name="content" placeholder="Text here"></textarea>
			<input type="hidden" name="userId" value="<%= currentUser.id %>">
			<input type="hidden" name="authorName" value="<%= currentUser.name %>">
			<input type="hidden" name="plantId" value="<%= plant.id %>">
    	</div>
		<button type="submit" class="ui basic submit button small">
			<i class="icon edit"></i> Post
		</button>
  	</form>
<% } else { %>
	<p><a href="/auth/signup">Sign up</a> or <a href="/auth/login">log in</a> to join the discussion.</p>
<% } %>
</div>