<a href="/plants/<%= item.id %>">
	<div class="plant-image">
		<% if (item.imageUrl){ %>
			<img src="<%= item.imageUrl %>" alt="<%= item.name %>" class="pure-img">
		<% } else { %>
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Sedum_rubrotinctum.jpg/220px-Sedum_rubrotinctum.jpg" alt="Placeholder">
			<% } %>
	</div>
	<h3><%= item.name %></h3>
</a>
<h5><em><%= item.botanicalName %></em></h5>
<p>Light: 
	<% var lightMax = 4; %>
	<% for(var i = 1; i <= lightMax; i++) { %>
		<% if(item.light >= i) { %>
			Y
		<% } else { %>
			N
		<% } %>
	<% } %>
</p>
<p>Water: 
	<% var waterMax = 3; %>
	<% for(var i = 1; i <= waterMax; i++) { %>
		<% if(item.water >= i) { %>
			Y
		<% } else { %>
			N
		<% } %>
	<% } %>
</p>