<a href="/plants/<%= item.id %>">
	<div class="plant-image">
		<% if (item.imageUrl){ %>
			<img src="<%= item.imageUrl %>" alt="<%= item.name %>">
		<% } else { %>
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Sedum_rubrotinctum.jpg/220px-Sedum_rubrotinctum.jpg" alt="Placeholder">
			<% } %>
	</div>
	<h3 class="plant-grid-name"><%= item.name %></h3>
</a>
<h5 class="plant-grid-botanical"><em><%= item.botanicalName %></em></h5>
<span class="plant-icon-section">
	<% var lightMax = 4; %>
	<% for(var i = 1; i <= lightMax; i++) { %>
		<% if(item.light >= i) { %>
			<img src="/img/sun-empty.png" class="plant-icon-small" alt="Light">
		<% } else { %>
			N
		<% } %>
	<% } %>
</span>
<span class="plant-icon-section">
	<% var waterMax = 3; %>
	<% for(var i = 1; i <= waterMax; i++) { %>
		<% if(item.water >= i) { %>
			<img src="/img/water-empty.png" class="plant-icon-small" alt="Water">
		<% } else { %>
			N
		<% } %>
	<% } %>
</span>