<header class="profile-hero">
	<h1>Your Journal</h1>
</header>
	<div class="ui stackable centered padded grid">
		 <div class="twelve wide column">
		 	<a href="/users/journal/new">
		 		<button type="submit" class="ui secondary button large">
					New Entry
				</button> 
			</a>
			<% if(user.journals.length <= 0) { %>
				<h2>No entries yet</h2>
			<% } else { %>
				<div class="ui comments">
					<% user.journals.reverse(function(a, b){return a - b}).forEach(function(j){ %>
					<div class="comment">
						<div class="content">
							<a href="/users/journal/<%= j.id %>"><b><%= j.title %></b></a>
							<div class="metadata">
								<div class="date"><%= moment(j.updatedAt).calendar() %></div>
								<a href="/users/journal/edit/<%= j.id %>">
									<button class="ui basic small button circular icon">
										<i class="edit icon"></i>
									</button>
								</a>
								<a href="/users/journal/<%= j.id %>" class="delete-journal">
									<button class="ui basic small button circular icon">
	  									<i class="icon delete"></i>
									</button></a>
      						</div>
      					</div>
      					<div class="text">
        					<p><%= j.content %></p>
      					</div>
      				</div>
					<% }); %>
			<% } %>
			</div>
		</div>
	</div>