<header class="profile-hero">
	<h1>Your Journal</h1>
	<h2><a href="/users/journal/new">Write new entry</a></h2>
</header>
<% if(user.journals.length <= 0) { %>
	<h2>No entries yet</h2>
<% } else { %>
		<% user.journals.reverse(function(a, b){return a - b}).forEach(function(j){ %>
		<a href="journal/<%= j.id %>"><h2><%= j.title %></h2></a>
			<em><%= moment(j.updatedAt).calendar() %></em>
			<p><%= j.content %></p>
			<a href="/users/journal/edit/<%= j.id %>">Edit Entry</a>
			<a href="/users/journal/<%= j.id %>" class="delete-journal">Delete Entry</a>
		<% }); %>
<% } %>
