<header class="journal-hero">
	<h2><%= journal.title %></h2>
</header>
<em><%= moment(journal.updatedAt).calendar() %></em>
<p><%= journal.content %></p>
<a href="/users/journal/edit/<%= journal.id %>">Edit Entry</a>
<a href="/users/journal/<%= journal.id %>" class="delete-journal">Delete Entry</a>
<hr>
<a href="/users/journal/new">Write new entry</a>
<a href="/users/journal">Back to All Entries</a>
<a href="/users/profile">Back to Profile</a>