<div class="pure-g">
	<!-- Left column -->
	<div class="pure-u-1 pure-u-md-1-4">
		<h5><%= currentUser.name %></h5>
	</div>
	<!-- Right column -->
	<div class="pure-u-1 pure-u-md-3-4">
		<header class="profile-hero">
			<% if(user.lastWatered){ %>
				<p>It's been <h3><%= moment(user.lastWatered).fromNow(true) %></h3> since you last checked your plants.</p>
			<% } else { %>
				<p>When did you last check on your plants?</p>
			<% } %>
			<p>Last Checkup Date:</p>
			<form method="post" action="/users/lastwatered">
				<input type="hidden" name="id" value="<%= currentUser.id %>">
				<input type="date" name="lastWatered" id="wateringCalendar">
				<input type="submit" value="Update">
			</form>
		</header>
		<div class="pure-u-1 pure-u-md-1-2">
			<h3>Your Plants</h3>
			<% if(user.plants.length <= 0) { %>
				<p>No plants added</p>
			<% } else { %>
				<p>You currently own <%= user.plants.length %> plants.</p>
					<% user.plants.slice(0,4).forEach(function(item){ %>
						<div class="pure-u-1 pure-u-md-1-3">
							<% include ../partials/plantgrid %>
							<a href="/plants/<%= item.id %>" class="delete-plant">Delete</a>
							</div>
					<% }); %>
				<% if(user.plants.length > 4) { %>
					<p>Showing 4 of <%= user.plants.length %> plants</p>
					<a href="plants">View All Plants</a>
					<% } %>
			<% } %>
		</div>
		<div class="pure-u-1 pure-u-md-1-4">
			<h3>Journal</h3>
			<% if(!user.journals) { %>
				<h2>No entries yet</h2>
			<% } else { %>
					<% user.journals.reverse(function(a, b){return a - b}).slice(0,2).forEach(function(j){ %>
						<h4><%= j.title %></h4>
						<em><%= moment(j.updatedAt).calendar() %></em>
						<p><%= j.content %></p>
					<% }); %>
			<% } %>
			<p>
				<% if(user.journals.length > 2) { %>
					<p>Showing 2 of <%= user.journals.length %> entries</p>
				<% } %>
				<a href="journal">View and Edit All Entries</a>
				<a href="journal/new">Write New Entry</a>
			</p>
		</div>
	</div>
</div>
