<header class="profile-hero">
	<h2>Hello,</h2>
	<h1><%= currentUser.name %></h1>
</header>
<div>
	<% if(user.lastWatered){ %>
		<p>It's been <%= moment(user.lastWatered).fromNow(true) %> since you last checked your plants.</p>
	<% } else { %>
		<p>When did you last check on your plants?</p>
	<% } %>
	<p>Last Checkup Date:</p>
	<form method="post" action="/users/lastwatered">
		<input type="hidden" name="id" value="<%= currentUser.id %>">
		<input type="date" name="lastWatered" id="wateringCalendar">
		<input type="submit" value="Update">
	</form>
</div>
<h3>Your Plants</h3>
<% if(user.plants.length <= 0) { %>
	<p>No plants added</p>
<% } else { %>
	<p>You currently own <%= user.plants.length %> plants.</p>
	<div class="grid-container">
		<% user.plants.forEach(function(item){ %>
			<div class="grid-item">
				<a href="/plants/<%= item.id %>">
					<div class="plant-image">
						<% if (item.imageUrl){ %>
							<img src="<%= item.imageUrl %>" alt="<%= item.name %>">
						<% } else { %>
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Sedum_rubrotinctum.jpg/220px-Sedum_rubrotinctum.jpg" alt="Placeholder">
						<% } %>
					</div>
					<h3><%= item.name %></h3>
				</a>
				<h5><em><%= item.botanicalName %></em></h5>
				<a href="/plants/<%= item.id %>" class="delete-plant">Delete <%= item.id %></a>
			</div>
		<% }); %>
	</div>
	<a href="plants">View All Plants</a>
<% } %>
<h3>Journal</h3>
<% if(!user.journals) { %>
	<h2>No entries yet</h2>
<% } else { %>
	<% user.journals.forEach(function(j){ %>
	<h4><%= moment(j.createdAt).calendar() %></h4>
	<p><%= j.content %></p>
<% }); %>
<% } %>
<p>
	<a href="journal">View All Entries</a>
	<a href="journal/new">Write New Entry</a>
</p>
</p>
<h3>Plant Stores Near You</h3>
<p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
