<header class="profile-hero small">
	<% if(user.userImg){ %>
		<div class="plant-image">
			<a href="/users/profilepic">
				<img src="<%= user.userImg %>" alt="Profile Picture">
			</a>
		</div>
	<% } else { %>
		<a href="/users/profilepic">
			<img src="/img/profpic-default.png" alt="Profile Picture" class="placeholder-profile-pic">
		</a>
	<% } %>
	</div>
	<h1><%= currentUser.name %></h1>
</div>
</header>
<div class="ui stackable centered padded grid">
	<div class="row">
		 <div class="three wide column">
			<% if(user.plants.length <= 0) { %>
				<a href="/plants">
					<div class="plant-image plant-image-small">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Sedum_rubrotinctum.jpg/220px-Sedum_rubrotinctum.jpg" alt="No Plants">
					</div>
				</a>
				<h2>0 plants</h2>
				<p><a href="/plants">Browse Plants</a></p>
			<% } else { %>
				<% user.plants.sort(function(a, b){return 0.5 - Math.random()}).slice(0,1).forEach(function(item){ %>
					<a href="/plants/<%= item.id %>">
						<div class="plant-image plant-image-small">
							<% if (item.imageUrl){ %>
								<img src="<%= item.imageUrl %>" alt="<%= item.name %>" class="pure-img">
							<% } else { %>
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Sedum_rubrotinctum.jpg/220px-Sedum_rubrotinctum.jpg" alt="Placeholder">
								<% } %>
						</div>
					</a>
				<% }); %>
				<% if (user.plants.length == 1) { %>
					<h2><%= user.plants.length %> plant</h2>
				<% } else { %>
					<h2><%= user.plants.length %> plants</h2>
				<% } %>
				<p><a href="plants">View All Plants</a></p>
			<% } %>
	    </div>
	    <div class="three wide column">
	    	<h1><i class="calendar outline icon"></i></h1>
	      	<% if(user.lastWatered){ %>
				<h2><%= moment(user.lastWatered).fromNow(true) %></h2>
				<p>since you last checked your plants</p>
			<% } else { %>
				<p>When did you last check on your plants?</p>
			<% } %>
				<form method="post" action="/users/lastwatered">
			      	<input type="hidden" name="id" value="<%= currentUser.id %>">
					<input type="date" name="lastWatered" id="wateringCalendar">
					<br>
					<button type="submit" class="ui secondary button">
						Update
					</button>
				</form>
	    </div>
	    <div class="three wide column">
	    	<h1><i class="book icon"></i></h1>
			<% if(user.journals.length < 1) { %>
				<h2> 0 journal entries</h2>
			<% } else if(user.journals.length == 1) { %>
				<h2> 1 journal entry</h2>
				<p><a href="journal">View All</a></p>
			<% } else { %>
				<h2><%= user.journals.length %> journal entries</h2>
				<p><a href="journal">View All</a></p>
			<% } %>
			<p><a href="journal/new">Write New Entry</a></p>
	    </div>
	  </div>
</div>
