<header class="plants-hero">
	<h1>Plants</h1>
	<div>
		<input type="text">
		<input type="submit" value="Search">
	</div>
	<div class="filter-box">
		<h2>Water</h2>
		<hr>
		XXXXX
	</div>
	<div class="filter-box">
		<h2>Light</h2>
		<hr>
		XXXXX
	</div>
	<div class="filter-box">
		<span class="tag-large">cat-friendly</span> 
		<span class="tag-large">dog-friendly</span> 
		<span class="tag-large">cactus</span>
		<span class="tag-large">good for beginners</span>  
		<span class="tag-large">palm</span> 
		<span class="tag-large">flowering</span> 
		<span class="tag-large">ivy</span> 
		<span class="tag-large">fern</span> 
		<span class="tag-large">succulent</span> 
	</div>
</header>
<% if(plants.length <= 0) { %>
	<h2>Nothing in the database yet</h2>
<% } else { %>
	<% plants.forEach(function(item){ %>
		<div class="grid-item">
			<a href="/plants/<%= item.id %>">
				<div class="plant-image">
					<% if (item.imageUrl){ %>
						<img src="<%= item.imageUrl %>" alt="<%= item.name %>">
					<% } else { %>
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Sedum_rubrotinctum.jpg/220px-Sedum_rubrotinctum.jpg" alt="Placeholder">
						<% } %>
				</div>
				<h3><%= item.name %></h3>
			</a>
			<h5><em><%= item.botanicalName %></em></h5>
			<% if(currentUser){ %>
				<form method="post" action="/plants">
					<input type="hidden" name="id" value="<%= item.id %>">
					<input type="submit" value="Add Plant">
				</form>
			<% } else { %>
				<p>Add button links to login page</p>
			<% } %>
		</div>
		<% }); %>
	
<% } %>

