<div class="pure-g">
	<div class="pure-u-1 pure-u-md-1-2">
		<h2><%= plant.name %></h2>
		<h3><em><%= plant.botanicalName %></em></h3>
		<div class="plant-image">
			<% if (plant.imageUrl){ %>
				<img src="<%= plant.imageUrl %>" alt="<%= plant.name %>"></p>
			<% } else { %>
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Sedum_rubrotinctum.jpg/220px-Sedum_rubrotinctum.jpg" alt="Placeholder"></p>
			<% } %>
		</div> 
		<% if(currentUser){ %>
			<form method="post" action="/plants">
				<input type="hidden" name="id" value="<%= plant.id %>">
					<button type="submit" class="ui labeled icon mini button">
  						<i class="plus icon"></i>
  						Add Plant
					</button>
			</form>	
		<% } else { %>
			<a href="/auth/login">
				<button class="ui labeled icon mini button">
  					<i class="plus icon"></i>
  					Add Plant
				</button>
			</a>
		<% } %>
	</div>
	<div class="pure-u-1 pure-u-md-1-2">
		<p>Light: 
			<% var lightMax = 4; %>
			<% for(var i = 1; i <= lightMax; i++) { %>
				<% if(plant.light >= i) { %>
					<img src="/img/sun-empty.png" class="plant-icon-large" alt="Light">
				<% } else { %>
					N
				<% } %>
			<% } %>
			<% if(plant.light == 1) { %>
				Low-light areas
			<% } else if(plant.light == 2) { %>
				Medium-light areas
			<% } else if(plant.light == 3) { %>
				High-light areas, but avoid direct sun
			<% } else if(plant.light == 4) { %>
				Sunny light areas with at least 4 hours of direct sun
			<% } %>
		</p>
		<p>Water: 
			<% var waterMax = 3; %>
			<% for(var i = 1; i <= waterMax; i++) { %>
				<% if(plant.water >= i) { %>
					<img src="/img/water-empty.png" class="plant-icon-large" alt="Water">
				<% } else { %>
					N
				<% } %>
			<% } %>
			<% if (plant.water == 1) { %>
				Soil mix can become moderately dry before re-watering	
			<% } else if (plant.water == 2) { %>
				Surface of soil mix should dry before re-watering
			<% } else if (plant.water == 3) { %>
				Keep soil mix moist
			<% } %>
		</p>
		<p><img src="/img/humidity.png" class="plant-icon-large" alt="Humidity">
			Humidity:
			<% if(plant.humidity == 1) { %>
				Low: 5% to 24%
			<% } else if (plant.humidity == 2) { %>
				Average: 25% to 49%
			<% } else if (plant.humidity == 3) { %>
				High: 50% or higher
			<% } %>
		</p>
		<p><img src="/img/temperature.png" class="plant-icon-large" alt="Temperature">
			Temperature: 
			<% if(plant.temperature == 1){ %>
				Cool: 50°F night, 65°F day temperatures
			<% } else if(plant.temperature == 2){ %>
				Average: 65°F night, 75°F day temperatures
			<% } else if(plant.temperature == 3){ %>
				Warm: 70°F night, 85°F day temperatures
			<% } %>		
		</p>
	</div>
</div>
<div>
	<p>Suggested Soil: 
		<% if(plant.soil == 1) { %>
			Flowering house plants
		<% } else if (plant.soil == 2){ %>
			Foliage plants
		<% } else if (plant.soil == 3){ %>
			Bromeliads
		<% } else if (plant.soil == 4){ %>
			Orchids
		<% } else if (plant.soil == 5){ %>
			Succulents and cacti
		<% } else if (plant.soil == 6){ %>
			Ferns
		<% } else if (plant.soil == 7){ %>
			African violets and other Gesneriads
		<% } %>
	</p>
</div>
<div>
<a href="/plants">Back to All Plants</a>
<hr>
<h3>Discussion</h3>
<% if(currentUser){ %>
	<form method="post" action="/comments">
		<p>Posting as <%= currentUser.name %></p>
		<input type="text" name="title" placeholder="Title">
		<textarea name="content" placeholder="Text here"></textarea>
		<input type="hidden" name="userId" value="<%= currentUser.id %>">
		<input type="hidden" name="authorName" value="<%= currentUser.name %>">
		<input type="hidden" name="plantId" value="<%= plant.id %>">
		<input type="submit" value="Post" class="btn btn-info">
	</form>
<% } else { %>
	<p>Log in to join the discussion.</p>
<% } %>
<hr>
<% if(plant.comments && plant.comments.length > 0) { %>
	<% plant.comments.forEach(function(c){ %>
		<h5><%= c.authorName %></h5>
		<h6><%= c.title %></h6> 
		<em><%= moment(c.createdAt).calendar() %></em>
		<p><%= c.content %></p>
		<% if (currentUser && currentUser.id === c.userId) { %>
			<p><a href="/comments/<%= c.id %>" class="delete-comment">Delete Comment</a></p>
		<% } %>
	<% }); %>
<% } else { %>
	<p>No posts yet</p>
<% }; %>
</div>