<h1><%= plant.name %></h1>
<h3><em><%= plant.botanicalName %></em></h3>
<div class="plant-image">
	<% if (plant.imageUrl){ %>
		<img src="<%= plant.imageUrl %>" alt="<%= plant.name %>"></p>
	<% } else { %>
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Sedum_rubrotinctum.jpg/220px-Sedum_rubrotinctum.jpg" alt="Placeholder"></p>
	<% } %>
</div>
<p>Light: <%= plant.light %></p>
<p>Water: <%= plant.water %></p>
<p>Humidity: <%= plant.humidity %></p>
<p>Temperature: <%= plant.temperature %></p>
<p>Soil: <%= plant.soil %></p>
<p>Description:</p>

<% if(currentUser) { %>
	<p>Current user is: <%= currentUser.id %> <%= currentUser.name %></p>

<form method="post" action="/plants">
	<input type="hidden" name="userId" value="<%= currentUser.id %>">
	<input type="hidden" name="plantId" value="<%= plant.id %>">
	<input type="submit" value="Add Plant" class="btn btn-success">
</form>
<% } else { %>
	<p>Not logged in</p>
<% } %>
